@charset "utf-8";
@import 'mixin.scss';
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
input,
li,
ol,
p,
textarea,
ul {
  padding: 0;
  margin: 0
}

body,
html,
ul,
li,
div,
p,
span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #fff;
}

/* 使用webkit内核的浏览器 */
:-moz-placeholder {
  color: #fff;
}

/* Firefox版本4-18 */
::-moz-placeholder {
  color: #fff;
}

/* Firefox版本19+ */
:-ms-input-placeholder {
  color: #fff;
}

/* IE浏览器 */
li,
ol,
ul {
  list-style: none
}

i {
  font-style: inherit
}

html,
body {
  font-family: "Microsoft YaHei", "微软雅黑";
  width: 100%;
  height: 100%;
  @include sc(14px,#fff);
  background: #fff;
  a {
    color: #fff;
    text-decoration: none;
  }
}

// 谷哥滚动条样式

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  position: absolute
}

::-webkit-scrollbar-thumb {
  background-color: rgba(46, 169, 238, 0.5)
}

::-webkit-scrollbar-track {
  background-color: #ddd
}
//  设置滚动条的样式 
.scroll {
  overflow-y: auto;
}

// 定义滑块颜色、内阴影及圆角
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
  background-color: rgba(46, 169, 238, 0.5);
}

.scroll::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0.2);
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}
.fl {
  float: left;
}

.fr {
  float: right;
}
.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pageHtml {
  width: 100%;
  height: 100%;
  background: url('./assets/images/common/bg.jpg');
  overflow-x: hidden;
}
.mainWrap {
  position: relative;
  margin: 0 auto;
  @include wh(100%, 1015px);
  #mapChart {
    @include wh(100%, 100%);
  }
}


// 修改的elementui样式
.mainWrap{
  .uploadDialog,
  .myEcollectDialog,
  .guidePlanDialog,
  .singleDocumetDialog,
  .uploadDocuDialog,
  .summaryDialog {
    border-radius: 10px;
    font-size: 25px;
    background: rgba(77, 121, 141, 0.95);
    color: #fff;

    .el-dialog__header {
      padding: 10px 20px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background: rgba(0, 129, 255, 0.6);
      text-align: center;

      .el-dialog__title {
        color: #fff;
      }
    }
    .el-dialog__body{
      padding: 0px;
      border-bottom: 1px solid #ccc;
    }
    .el-dialog__footer {
      padding: 10px 20px 10px;
    }
  }
}
.summaryDialog {
  border-radius: 10px;
  font-size: 25px;
  background: rgba(77, 121, 141, 0.95);
  color: #fff;

  .el-dialog__header {
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(0, 129, 255, 0.6);
    text-align: center;

    .el-dialog__title {
      color: #fff;
    }
  }

  .el-dialog__body {
    padding: 0px;
    border-bottom: 1px solid #ccc;
  }

  .el-dialog__footer {
    padding: 10px 20px 10px;
  }
}
.el-upload__tip,
.el-form-item__label,
.el-upload-list__item-name,
.el-upload-list__item-name [class^=el-icon] {
  color: #fff;
}
.AiWirting {
  .el-tabs__item {
    color: #fff;
  }

  .el-tabs__item.is-active {
    color: #409EFF;
  }
}

