@import '../../assets/style/mixin.scss';
.singleDocumetDialog {
  .inner{
    padding: 10px 20px;
    @include sc(16px,#fff);
  }
  .singleDocumentWrap{
    .tabRow {
      margin-bottom: 10px;
      @include fj(flex-end);
      .articleType {
        display: inline-block;
        margin-right: 15px;
        cursor: pointer;

        &.active {
          color: #66ccff;
        }
      }
    }
    .article {
      margin-bottom: 10px;
      max-height: 450px;
      text-indent: 27px;
    }
    #singleDocuChart{
      margin-top: 10px;
      height: 220px;
    }
  }
}