@import '@/assets/style/mixin.scss';
.guidePlanDialog {
  .inner{
    padding: 10px 20px;
    @include sc(16px,#fff);
    .documentInfo {
      position: relative;
      margin-bottom: 20px;
      height: 35px;
      .middleLine{
        background: #fff;
        z-index: 0;
        @include wh(100%,1px);
        @include center();
      }

      .infoItem {
        position: absolute;
        display: block;
        width: 150px;
        line-height: 35px;
        background: rgb(18, 132, 187);
        text-align: center;
        border-radius: 5px;

        &:nth-child(1) {
          left: 0;
        }

        &:nth-child(2) {
          left: 50%;
          transform: translateX(-50%);
        }

        &:nth-child(3) {
          right: 0;
        }
      }
    }
    .documentItem {
      li {
        position: relative;
        margin-bottom: 15px;
        line-height: 55px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #fff;
        @include sc(20px, #fff);
        span{
          position: absolute;
          right: 15px;
          color: rgb(102, 204, 255);
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .searchWrap{
      position: relative;
      margin-bottom: 15px;
      .searchInput {
        position: relative;
        margin: 0 auto;
        width: 400px;
        .searchValue {
          padding-right: 20px;
          display: block;
        }
        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: 20px;
          right: 34px;
          color: #333;
          cursor: pointer;
        }
      }
      .tabRow {
        position: absolute;
        top: 5px;
        right: 5px;
        .articleType {
          display: inline-block;
          margin-right: 15px;
          cursor: pointer;
          &.active{
            color: #66ccff;
          }
        }

      }
    }

    .content {
      max-height: 590px;
      .section{
        margin-bottom: 5px;
        text-indent: 27px;
      }
    }
    &.contentWrap {
      display: flex;

      .contentLeft {
        width: 70%;

      }

      .contentRight {
        width: 30%;

      }
    }
  }
}

.searchResult {
  position: relative;
  margin: 15px auto;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 6px;
  max-height: 300px;
  .el-icon-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
  }

  li {
    padding: 5px 0;
    border-bottom: 2px solid #fff;
    // align-items: center;
    // @include fj(center);
    pre{
      display: block;
      white-space: pre-line;
    }
    span{
      width: 5%;
      i{
        font-size: 22px;
        cursor: pointer;
      }
    }
  }
}