@import '@/assets/style/mixin.scss';
.singleDocumetDialog {
  .inner{
    padding: 10px 20px;
    @include sc(16px,#fff);
  }
  .singleDocumentWrap{
    .header {
      align-items: center;
      @include fj(space-between);
      .tabRow {
        margin-bottom: 10px;
        @include fj(space-between);
        .articleType {
          display: inline-block;
          margin-right: 15px;
          cursor: pointer;

          &.active {
            color: #66ccff;
          }
        }
      }

    }
    .article {
      margin-bottom: 10px;
      @include fj(space-between);
      .leftArticle,
      .rightArticle {
        max-height: 450px;
        text-indent: 27px;
        overflow-x: hidden;
      }
      .rightArticle,
      .halfWidth {
        width: 50%;
        overflow-x: hidden;
      }
    }
    #singleDocuChart{
      margin-top: 10px;
      height: 220px;
    }
  }
}
.doubleChart{
  @include fj(space-between);
  #hotWord {
    width: 60%;
    height: 220px;
  }
}