@import '@/assets/style/mixin.scss';
.myEcollectDialog {
  .inner{
    padding: 10px 20px;
    max-height: 650px;
    .ecollectClass {
      position: relative;
      padding-left: 40px;
      @include sc(24px,#fff);
      &::before{
       position: absolute;
       top: 50%;
       left: 5px;
       transform: translateY(-50%);
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        background: #fff;
      }
    }
    .ecolllectList{
      margin: 10px auto;
      padding:10px;
      width: 95%;
      border-radius: 5px;
      border: 1px solid #fff;
      .title {
        margin-bottom: 5px;
        @include sc(22px, #fff);
      }
      .content{
        color: #fff;
        text-indent: 27px;
        .list{
          span {
            &:nth-child(1) {
              color: #111;
              font-weight:bold;
            }
          }
        }
      }
      #hotWord {
        @include wh(100%, 300px);
      }
    }
  }
}
.EcollectTool {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  i {
    display: flex;
    justify-content: flex-start;
    margin-right: 5px;
    font-size: 18px;
    color: #ccc;
    cursor: pointer;
    text-indent: 0;
  }
}