@import '@/assets/style/mixin.scss';
// 选择文字后弹出的菜单
.selectmenu {
  padding: 5px;
  position: fixed;
  z-index: 9999;
  width: 100px;
  border-radius: 5px;
  background: #fff;
  color: #333;

  li {
    line-height: 25px;
    cursor: pointer;

    i {
      margin-left: 5px;
      margin-right: 10px;
      @include sc(18px, #66ccff)
    }
  }
}